<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text"> <%= section_title %> <p>
    <p class="TodoSectionTitle-remainingcount"><%= todos.completed.count %>/<%= todos.count %><p>
  </div>
  <ul>
    <% todos.each do |todo| %>
      <li class="TodoItem">
        <label class="TodoItem-container">
          <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
            <%= check_box_tag("completed", true, todo.completed, { onclick: "this.form.submit();" }) %>
          <% end %>
         <p class= <%= todo.completed ? "Striked_Text" : "" %> >
                        <%= todo.todo_text %>
          </p>

          <% if show_due_date %>
            <p class="TodoItem-dueDate"><%= todo.due_date.to_s(:short) %></p>
          <% end %>

          <a href="javascript:void(0)" class="TodoItemdelete" >
          <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
            <input type='image' src="delete.png" width=19px>
          <% end %>
          </a>
        </label>
      </li>
    <% end %>
  </ul>
</section>



